@font-face {
    font-family: "Maison Neue";
    src: url("fonts/2173dceabf0710a335c0bca178efc162.eot");
    src: url("fonts/2173dceabf0710a335c0bca178efc162.eot?#iefix")format("embedded-opentype"),
    url("fonts/2173dceabf0710a335c0bca178efc162.woff2")format("woff2"),
    url("fonts/2173dceabf0710a335c0bca178efc162.woff")format("woff"),
    url("fonts/2173dceabf0710a335c0bca178efc162.ttf")format("truetype"),
    url("fonts/2173dceabf0710a335c0bca178efc162.svg#Maison Neue")format("svg");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

html {
    background-color: #1b1f26;
    color: #fff;
    font-family: "Maison Neue", serif;
}

body {
    margin: 0;
}

header {
    width: 100%;
    background-color: #000;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

header .name {
    font-size: 48px;
}

header .subname {
    font-size: 18px;
}

header .subname > a {
    color: #fff;
}

.results {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
    padding: 20px 0;
    text-align: center;
    font-size: 22px;
}

.results > div {
    margin-bottom: 8px;
}

.results > div:last-child {
    margin-bottom: 0;
}

.calculator {
    max-width: 1920px;
    margin: 0 auto;
    padding-bottom: 160px;
}

.calculator .categories {
    width: 100%;
}

.calculator .categories .category {
    margin-bottom: 25px;
}

.calculator .categories .category > .name {
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
}

.calculator .categories .category .items {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.calculator .categories .category .items .item {
    flex: 1 0 14%;
    max-width: 14%;
    margin: 10px;
    padding: 10px;
    background-color: rgba(76, 83, 80, 0.15);
    border-radius: 20px;
    border: 2px none;
}

.calculator .categories .category .items .item.best {
    border: 1px solid;
}


.calculator .categories .category .items .item .name {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.calculator .categories .category .items .item .name > span {
    display: block;
    font-size: 12px;
    margin-top: 5px;
}

.calculator .categories .category .items .item .opinions {
    display: flex;
    justify-content: space-around;
}

.calculator .categories .category .items .item .opinions > div {
    margin: 0 5px;
}

.calculator .categories .category .items .item .opinions > div input {
    width: 90px;
    background-color: rgba(76, 83, 80, 0.15);
    color: #fff;
    border: none;
}

.calculator .categories .category .items .item .opinions > div label {
    display: block;
    font-size: 10px;
    margin-bottom: 5px;
}

.calculator .categories .category .items .item .daily {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}

.calculator .categories .category .items .item .daily > span {
    cursor: pointer;
}

.calculator .categories .category .items .item.daily .daily {
    color: red;
}

textarea {
    width: 100%;
    padding: 10px;
    background-color: rgba(76, 83, 80, 0.15);
    border-radius: 20px;
    border-color: rgba(76, 83, 80, 0.15);
    color: #fff;
}

@media(max-width: 1240px) {
    .calculator .categories .category .items .item {
        flex: 1 0 24%;
        max-width: 24%;
    }
}

@media(max-width: 780px) {
    .calculator .categories .category .items .item {
        flex: 1 0 35%;
        max-width: 35%;
    }

    .calculator .categories .category .items .item .opinions > div input {
        width: 65px;
    }

    .results {
        font-size: 20px;
    }
}